use date_occ in tophalf to segment into years

In [1]:
import csv

In [2]:
with open('./data/converted_crime_data/Crime_pass2_strip_tophalf.csv') as f:
    data = [row for row in csv.reader(f)]

In [3]:
list(enumerate(data[0]))

[(0, 'Address1'),
 (1, 'Apt'),
 (2, 'Case'),
 (3, 'Pri_Offens'),
 (4, 'Off_Code'),
 (5, 'Offense'),
 (6, 'tract'),
 (7, 'date_rept'),
 (8, 'DATEofReport'),
 (9, 'REP_DATE'),
 (10, 'date_occ'),
 (11, 'hour_occ'),
 (12, 'date_fnd'),
 (13, 'hour_fnd'),
 (14, 'FID'),
 (15, 'X'),
 (16, 'Y'),
 (17, 'Donxees'),
 (18, 'Donyees')]

In [4]:
data[1][10]

'01/ 3/2007"  "16:00:00 a01/p01'

In [5]:
len(data)

5098

In [6]:
data[100][10]

'01/31/2007"  "00:00:00 a01/p01'

In [7]:
from random import sample

In [8]:
[data[0][10:12], [x[10:12] for x in sample(data, 30)]]

[['date_occ', 'hour_occ'],
 [['09/04/09', '0311'],
  ['01/17/09', '1400'],
  ['09/30/08', '2200'],
  ['09/15/2007"  "00:25:00 a09/p09', '0025'],
  ['03/27/09', '0910'],
  ['10/ 5/2007"  "00:00:00 a10/p10', '1307'],
  ['05/ 4/2007"  "07:26:00 a05/p05', '0726'],
  ['03/28/08', '1020'],
  ['03/28/2007"  "05:50:26 a03/p03', '0550'],
  ['02/26/08', '1050'],
  ['04/20/2007"  "07:53:00 a04/p04', '0753'],
  ['07/22/10', '0900'],
  ['11/01/08', '1029'],
  ['09/20/2007"  "16:00:00 a09/p09', '1600'],
  ['02/ 5/2007"  "19:30:00 a02/p02', '1930'],
  ['05/ 7/2007"  "12:00:00 a05/p05', '1200'],
  ['09/13/2007"  "00:00:00 a09/p09', '1245'],
  ['[$-409]02/16/08 14:00 a02/p02', '1400'],
  ['04/17/08', '2200'],
  ['01/16/2007"  "03:53:00 a01/p01', '0353'],
  ['02/28/09', '0420'],
  ['10/18/2007"  "00:00:00 a10/p10', '0855'],
  ['05/12/09', '1440'],
  ['02/15/2007"  "00:00:00 a02/p02', '1417'],
  ['04/29/2007"  "03:00:00 a04/p04', '0300'],
  ['10/17/2007"  "01:58:00 a10/p10', '0158'],
  ['01/30/09', '1000'],
  ['10/23/08', '0404'],
  ['09/10/09', '0140'],
  ['10/21/09', '0907']]]

0. s.replace('[$-409]', '').replace('/2007', '/07')[:8].replace(' ', '0')
1. s.replace(':', '')

In [9]:
[data[0][12:14], [x[12:14] for x in sample(data, 30)]]

[['date_fnd', 'hour_fnd'],
 [['09/14/2007"  "02:30:12 a09/p09', '23:00'],
  ['03/25/08', '10:20'],
  ['06/30/10', '11:11 a12/p12'],
  ['09/10/10', '10:39 a12/p12'],
  ['10/31/09', '23:00 a12/p12'],
  ['09/01/09', '17:00 a12/p12'],
  ['03/ 5/08', '15:56'],
  ['10/10/08', '14:18 a12/p12'],
  ['[$-409]10/ 4/07 17:15 a10/p10', '17:00'],
  ['02/10/10', '14:10 a12/p12'],
  ['10/24/08', '03:48 a12/p12'],
  ['10/05/09', '17:40 a12/p12'],
  ['11/04/08', '20:10 a12/p12'],
  ['01/26/10', '15:29 a12/p12'],
  ['02/19/09', '09:49 a12/p12'],
  ['05/05/10', '13:04 a12/p12'],
  ['10/04/08', '02:36 a12/p12'],
  ['[$-409]12/ 9/07 00:30 a12/p12', '17:00'],
  ['02/28/09', '19:20 a12/p12'],
  ['03/28/2007"  "12:50:18 a03/p03', '12:30'],
  ['07/07/10', '08:45 a12/p12'],
  ['09/03/08', '00:03 a12/p12'],
  ['01/18/2007"  "00:00:00 a01/p01', '09:50'],
  ['[$-409]01/ 2/08 15:36 a01/p01', '15:36'],
  ['03/19/10', '00:10 a12/p12'],
  ['10/15/08', '09:35 a12/p12'],
  ['04/30/10', '00:15 a12/p12'],
  ['07/22/09', '12:51 a12/p12'],
  ['10/29/08', '20:16 a12/p12'],
  ['01/28/2007"  "09:00:00 a01/p01', '18:00']]]

In [10]:
s1 = '03/ 5/2007"  "00:00:00 a03/p03'
s2 = '[$-409]11/12/07 12:00 a11/p11'
print(s1.replace('[$-409]', '').replace('/2007', '/07')[:8].replace(' ', '0'))
print(s2.replace('[$-409]', '').replace('/2007', '/07')[:8].replace(' ', '0'))
print('20:46 a12/p12'[:5].replace(':', ''))

03/05/07
11/12/07
2046

use the same strategy as before for date
two weird things:
    1. ['09/19/2007"  "20:30:57 a09/p09', '08:00'] has am/pm confusion
    2. only have combined timestamps in 2007 so just forget it


0. s.replace('[$-409]', '').replace('/2007', '/07')[:8].replace(' ', '0')
1. s[:4+1].replace(':', '')

In [11]:
[data[0][7:10], [x[7:10] for x in sample(data, 30)]]

[['date_rept', 'DATEofReport', 'REP_DATE'],
 [['10/ 8/2007"  "14:30:00 a10/p10', '10/08/07', '07/10/08'],
  ['03/ 1/10', '03/01/10', '10/03/01'],
  ['08/ 1/2007"  "00:00:00 a08/p08', '08/01/07', '07/08/01'],
  ['07/16/2007"  "04:09:01 a07/p07', '07/16/07', '07/07/16'],
  ['03/28/08', '03/28/08', '08/03/28'],
  ['03/ 5/08', '03/05/08', '08/03/05'],
  ['01/29/2007"  "00:00:00 a01/p01', '01/29/07', '07/01/29'],
  ['03/13/08', '03/13/08', '08/03/13'],
  ['04/24/2007"  "00:00:00 a04/p04', '04/24/07', '07/04/24'],
  ['04/29/08', '04/29/08', '08/04/29'],
  ['07/ 2/09', '07/02/09', '09/07/02'],
  ['09/ 2/10', '09/02/10', '10/09/02'],
  ['[$-409]11/ 9/07 22:41 a11/p11', '11/09/07', '07/11/09'],
  ['[$-409]11/ 1/07 11:20 a11/p11', '11/01/07', '07/11/01'],
  ['03/ 2/10', '03/02/10', '10/03/02'],
  ['10/22/09', '10/22/09', '09/10/22'],
  ['09/25/08', '09/25/08', '08/09/25'],
  ['03/ 4/2007"  "15:22:14 a03/p03', '03/04/07', '07/03/04'],
  ['03/ 9/2007"  "00:30:04 a03/p03', '03/09/07', '07/03/09'],
  ['09/ 3/10', '09/03/10', '10/09/03'],
  ['[$-409]11/27/07 15:09 a11/p11', '11/27/07', '07/11/27'],
  ['06/10/09', '06/10/09', '09/06/10'],
  ['09/12/2007"  "00:00:00 a09/p09', '09/12/07', '07/09/12'],
  ['05/ 7/2007"  "00:00:00 a05/p05', '05/07/07', '07/05/07'],
  ['01/ 8/09', '01/08/09', '09/01/08'],
  ['09/26/2007"  "00:00:00 a09/p09', '09/26/07', '07/09/26'],
  ['09/19/10', '09/19/10', '10/09/19'],
  ['08/20/09', '08/20/09', '09/08/20'],
  ['10/24/2007"  "13:43:47 a10/p10', '10/24/07', '07/10/24'],
  ['03/22/08', '03/22/08', '08/03/22']]]

just always take DATEofReport

In [12]:
from datetime import datetime

In [13]:
to_date = lambda s: datetime.strptime(s, '%m/%d/%y')
strip_date_from_datetime = lambda s: s.replace('[$-409]', '').replace('/200', '/0')[:8].replace(' ', '0')
clean_fnd_time = lambda s: s[:4+1].replace(':', '')
clean_occ_time = lambda s: s.replace(':', '')

In [14]:
data_date_corrected = []
data_date_corrected.append(data[0][0:7] + [
        data[0][8]
] + data[0][10:14] + data[0][14:])
for row in data[1:]:
    new_row = row[0:7] + [to_date(row[8]),
                          to_date(strip_date_from_datetime(row[10])),
                          clean_occ_time(row[11]),
                          to_date(strip_date_from_datetime(row[12])),
                          clean_fnd_time(row[13])
                          ] + row[14:]
    data_date_corrected.append(new_row)

In [15]:
weird_future_rows = [
    (i, data[i+1], row) for i, row in enumerate(data_date_corrected[1:])
    if row[8].year > 2010
]

In [16]:
weird_future_rows

[(1096,
  ['1231 THEO DICKINSON DR',
   '803',
   '07008592',
   '1',
   'PRB',
   'PROPERTY LOST',
   '07U',
   '09/25/2007"  "13:50:00 a09/p09',
   '09/25/07',
   '07/09/25',
   '12/ 1/1997"  "08:00:00 a12/p12',
   '0800',
   '09/25/2007"  "13:50:00 a09/p09',
   '08:00',
   '',
   '',
   '',
   '893062.690',
   '501740.530'],
  ['1231 THEO DICKINSON DR',
   '803',
   '07008592',
   '1',
   'PRB',
   'PROPERTY LOST',
   '07U',
   datetime.datetime(2007, 9, 25, 0, 0),
   datetime.datetime(2019, 12, 1, 0, 0),
   '0800',
   datetime.datetime(2007, 9, 25, 0, 0),
   '0800',
   '',
   '',
   '',
   '893062.690',
   '501740.530'])]

yeah, so this is either a ridiculous data entry error or a GREAT story

In [17]:
data_date_corrected[1097][8] = datetime(2007, 9, 25)
print(data_date_corrected[1097])

['1231 THEO DICKINSON DR', '803', '07008592', '1', 'PRB', 'PROPERTY LOST', '07U', datetime.datetime(2007, 9, 25, 0, 0), datetime.datetime(2007, 9, 25, 0, 0), '0800', datetime.datetime(2007, 9, 25, 0, 0), '0800', '', '', '', '893062.690', '501740.530']

In [18]:
weird_old_rows = [
    (i, data[i+1], row) for i, row in enumerate(data_date_corrected[1:])
    if row[8].year < 2007
]

In [19]:
len(weird_old_rows)

17

In [20]:
weird_old_rows

[(6,
  ['1560 LIGURIA AV',
   '105',
   '07000168',
   '1',
   'XOP',
   'ORDINANCE VIOLATION',
   '07U',
   '01/ 6/2007"  "22:59:00 a01/p01',
   '01/06/07',
   '07/01/06',
   '01/ 6/2006"  "21:35:00 a01/p01',
   '2135',
   '01/ 6/2007"  "22:25:00 a01/p01',
   '21:35',
   '103',
   '891566.97100000002',
   '501944.41700000002',
   '892822.380',
   '501564.190'],
  ['1560 LIGURIA AV',
   '105',
   '07000168',
   '1',
   'XOP',
   'ORDINANCE VIOLATION',
   '07U',
   datetime.datetime(2007, 1, 6, 0, 0),
   datetime.datetime(2006, 1, 6, 0, 0),
   '2135',
   datetime.datetime(2007, 1, 6, 0, 0),
   '2135',
   '103',
   '891566.97100000002',
   '501944.41700000002',
   '892822.380',
   '501564.190']),
 (28,
  ['1306 STANFORD DR',
   '',
   '06009809',
   '1',
   'THC',
   'THEFT FROM MOTOR VEHICLE',
   '07U',
   '01/17/2007"  "02:35:00 a01/p01',
   '01/17/07',
   '07/01/17',
   '10/31/2006"  "22:30:00 a10/p10',
   '2230',
   '10/31/2006"  "23:00:00 a10/p10',
   '22:30',
   '432',
   '894239.15800000005',
   '504433.315',
   '893603.060',
   '505267.690'],
  ['1306 STANFORD DR',
   '',
   '06009809',
   '1',
   'THC',
   'THEFT FROM MOTOR VEHICLE',
   '07U',
   datetime.datetime(2007, 1, 17, 0, 0),
   datetime.datetime(2006, 10, 31, 0, 0),
   '2230',
   datetime.datetime(2006, 10, 31, 0, 0),
   '2230',
   '432',
   '894239.15800000005',
   '504433.315',
   '893603.060',
   '505267.690']),
 (40,
  ['5665 PONCE DE LEON BLVD',
   '',
   '07000506',
   '1',
   'PRB',
   'PROPERTY LOST',
   '07U',
   '01/19/2007"  "12:32:05 a01/p01',
   '01/19/07',
   '07/01/19',
   '11/24/2006"  "13:00:00 a11/p11',
   '1300',
   '12/ 2/2006"  "18:00:05 a12/p12',
   '13:00',
   '',
   '',
   '',
   '894326.810',
   '503344.000'],
  ['5665 PONCE DE LEON BLVD',
   '',
   '07000506',
   '1',
   'PRB',
   'PROPERTY LOST',
   '07U',
   datetime.datetime(2007, 1, 19, 0, 0),
   datetime.datetime(2006, 11, 24, 0, 0),
   '1300',
   datetime.datetime(2006, 12, 2, 0, 0),
   '1300',
   '',
   '',
   '',
   '894326.810',
   '503344.000']),
 (49,
  ['1306 STANFORD DR',
   '',
   '07000599',
   '1',
   'PRA',
   'PROPERTY FOUND / IMPOUNDED',
   '07U',
   '01/22/2007"  "15:33:49 a01/p01',
   '01/22/07',
   '07/01/22',
   '11/ 1/2006"  "00:00:00 a11/p11',
   '0000',
   '01/22/2007"  "15:00:00 a01/p01',
   '00:00',
   '31',
   '893821.40300000005',
   '504487.02600000001',
   '895340.180',
   '503859.210'],
  ['1306 STANFORD DR',
   '',
   '07000599',
   '1',
   'PRA',
   'PROPERTY FOUND / IMPOUNDED',
   '07U',
   datetime.datetime(2007, 1, 22, 0, 0),
   datetime.datetime(2006, 11, 1, 0, 0),
   '0000',
   datetime.datetime(2007, 1, 22, 0, 0),
   '0000',
   '31',
   '893821.40300000005',
   '504487.02600000001',
   '895340.180',
   '503859.210']),
 (50,
  ['5100 BRUNSON DR',
   'BLK',
   '07000603',
   '1',
   'THK',
   'THEFT OTHER',
   '07U',
   '01/22/2007"  "17:35:55 a01/p01',
   '01/22/07',
   '07/01/22',
   '11/ 1/2006"  "00:00:00 a11/p11',
   '0000',
   '01/22/2007"  "08:00:00 a01/p01',
   '00:00',
   '',
   '',
   '',
   '894689.880',
   '504124.530'],
  ['5100 BRUNSON DR',
   'BLK',
   '07000603',
   '1',
   'THK',
   'THEFT OTHER',
   '07U',
   datetime.datetime(2007, 1, 22, 0, 0),
   datetime.datetime(2006, 11, 1, 0, 0),
   '0000',
   datetime.datetime(2007, 1, 22, 0, 0),
   '0000',
   '',
   '',
   '',
   '894689.880',
   '504124.530']),
 (260,
  ['1231 THEO DICKINSON DR',
   'MT 1206',
   '07001997',
   '1',
   'SCE',
   'SIMPLE HARASSMENT',
   '07U',
   '03/ 4/2007"  "15:22:14 a03/p03',
   '03/04/07',
   '07/03/04',
   '12/ 5/2006"  "00:00:00 a12/p12',
   '0000',
   '03/ 4/2007"  "15:22:14 a03/p03',
   '00:00',
   '',
   '',
   '',
   '894667.940',
   '504124.660'],
  ['1231 THEO DICKINSON DR',
   'MT 1206',
   '07001997',
   '1',
   'SCE',
   'SIMPLE HARASSMENT',
   '07U',
   datetime.datetime(2007, 3, 4, 0, 0),
   datetime.datetime(2006, 12, 5, 0, 0),
   '0000',
   datetime.datetime(2007, 3, 4, 0, 0),
   '0000',
   '',
   '',
   '',
   '894667.940',
   '504124.660']),
 (357,
  ['1245 DAUER DR',
   '',
   '07002643',
   '1',
   'FRD',
   'FRAUD BY CREDIT CARD / ATM',
   '07U',
   '03/23/2007"  "11:10:09 a03/p03',
   '03/23/07',
   '07/03/23',
   '03/19/2006"  "20:00:00 a03/p03',
   '2000',
   '03/21/2006"  "17:00:00 a03/p03',
   '20:00',
   '65',
   '893424.071',
   '502854.73300000001',
   '893424.250',
   '504611.500'],
  ['1245 DAUER DR',
   '',
   '07002643',
   '1',
   'FRD',
   'FRAUD BY CREDIT CARD / ATM',
   '07U',
   datetime.datetime(2007, 3, 23, 0, 0),
   datetime.datetime(2006, 3, 19, 0, 0),
   '2000',
   datetime.datetime(2006, 3, 21, 0, 0),
   '2000',
   '65',
   '893424.071',
   '502854.73300000001',
   '893424.250',
   '504611.500']),
 (526,
  ['1241 THEO DICKINSON DR',
   '',
   '07003786',
   '1',
   'VAB',
   'VANDALISM TO VEHICLE',
   '07U',
   '04/26/2007"  "02:58:57 a04/p04',
   '04/26/07',
   '07/04/26',
   '04/24/2006"  "17:00:00 a04/p04',
   '1700',
   '04/25/2007"  "17:00:00 a04/p04',
   '17:00',
   '81',
   '892858.31700000004',
   '503002.52299999999',
   '893181.630',
   '503228.560'],
  ['1241 THEO DICKINSON DR',
   '',
   '07003786',
   '1',
   'VAB',
   'VANDALISM TO VEHICLE',
   '07U',
   datetime.datetime(2007, 4, 26, 0, 0),
   datetime.datetime(2006, 4, 24, 0, 0),
   '1700',
   datetime.datetime(2007, 4, 25, 0, 0),
   '1700',
   '81',
   '892858.31700000004',
   '503002.52299999999',
   '893181.630',
   '503228.560']),
 (546,
  ['5665 PONCE DE LEON BLVD',
   '',
   '07004006',
   '1',
   'SCD',
   'SIMPLE STALKING',
   '07U',
   '05/ 1/2007"  "19:14:44 a05/p05',
   '05/01/07',
   '07/05/01',
   '09/15/2006"  "01:00:00 a09/p09',
   '0100',
   '04/30/2007"  "05:00:00 a04/p04',
   '0.041667',
   '',
   '',
   '',
   '894137.690',
   '503780.250'],
  ['5665 PONCE DE LEON BLVD',
   '',
   '07004006',
   '1',
   'SCD',
   'SIMPLE STALKING',
   '07U',
   datetime.datetime(2007, 5, 1, 0, 0),
   datetime.datetime(2006, 9, 15, 0, 0),
   '0100',
   datetime.datetime(2007, 4, 30, 0, 0),
   '0.041',
   '',
   '',
   '',
   '894137.690',
   '503780.250']),
 (547,
  ['5665 PONCE DE LEON BLVD',
   '',
   '07004006',
   '1',
   'SCE',
   'SIMPLE HARASSMENT',
   '07U',
   '05/ 1/2007"  "19:14:44 a05/p05',
   '05/01/07',
   '07/05/01',
   '09/15/2006"  "01:00:00 a09/p09',
   '0100',
   '04/30/2007"  "05:00:00 a04/p04',
   '0.041667',
   '',
   '',
   '',
   '894277.560',
   '506034.280'],
  ['5665 PONCE DE LEON BLVD',
   '',
   '07004006',
   '1',
   'SCE',
   'SIMPLE HARASSMENT',
   '07U',
   datetime.datetime(2007, 5, 1, 0, 0),
   datetime.datetime(2006, 9, 15, 0, 0),
   '0100',
   datetime.datetime(2007, 4, 30, 0, 0),
   '0.041',
   '',
   '',
   '',
   '894277.560',
   '506034.280']),
 (559,
  ['1231 THEO DICKINSON DR',
   '',
   '07004032',
   '1',
   'SCA',
   'SIMPLE BATTERY',
   '07U',
   '05/ 2/2007"  "10:57:56 a05/p05',
   '05/02/07',
   '07/05/02',
   '08/ 1/2005"  "00:00:00 a08/p08',
   '0000',
   '04/30/2007"  "00:00:00 a04/p04',
   '00:00',
   '',
   '',
   '',
   '891951.060',
   '502352.380'],
  ['1231 THEO DICKINSON DR',
   '',
   '07004032',
   '1',
   'SCA',
   'SIMPLE BATTERY',
   '07U',
   datetime.datetime(2007, 5, 2, 0, 0),
   datetime.datetime(2005, 8, 1, 0, 0),
   '0000',
   datetime.datetime(2007, 4, 30, 0, 0),
   '0000',
   '',
   '',
   '',
   '891951.060',
   '502352.380']),
 (560,
  ['1231 THEO DICKINSON DR',
   '',
   '07004032',
   '2',
   'SCB',
   'SIMPLE ASSAULT / THREATS',
   '07U',
   '05/ 2/2007"  "10:57:56 a05/p05',
   '05/02/07',
   '07/05/02',
   '08/ 1/2005"  "00:00:00 a08/p08',
   '0000',
   '04/30/2007"  "00:00:00 a04/p04',
   '00:00',
   '',
   '',
   '',
   '894667.940',
   '504124.660'],
  ['1231 THEO DICKINSON DR',
   '',
   '07004032',
   '2',
   'SCB',
   'SIMPLE ASSAULT / THREATS',
   '07U',
   datetime.datetime(2007, 5, 2, 0, 0),
   datetime.datetime(2005, 8, 1, 0, 0),
   '0000',
   datetime.datetime(2007, 4, 30, 0, 0),
   '0000',
   '',
   '',
   '',
   '894667.940',
   '504124.660']),
 (1258,
  ['1300 MEMORIAL DR',
   '',
   '07009654',
   '1',
   'THF',
   'THEFT FROM STRUCTURE  WITH LEGAL ACCESS / PUBLIC BUILDING',
   '07U',
   '10/24/2007"  "15:10:00 a10/p10',
   '10/24/07',
   '07/10/24',
   '10/24/2001"  "14:10:00 a10/p10',
   '1410',
   '10/24/2007"  "14:10:00 a10/p10',
   '14:10',
   '16',
   '893634.74199999997',
   '505003.36800000002',
   '',
   ''],
  ['1300 MEMORIAL DR',
   '',
   '07009654',
   '1',
   'THF',
   'THEFT FROM STRUCTURE  WITH LEGAL ACCESS / PUBLIC BUILDING',
   '07U',
   datetime.datetime(2007, 10, 24, 0, 0),
   datetime.datetime(2001, 10, 24, 0, 0),
   '1410',
   datetime.datetime(2007, 10, 24, 0, 0),
   '1410',
   '16',
   '893634.74199999997',
   '505003.36800000002',
   '',
   '']),
 (1605,
  ['5665 PONCE DE LEON BLVD',
   '',
   '08001065',
   '1',
   'FRH',
   'FRAUD BY UTTERING FORGERY',
   '07U',
   '[$-409]02/ 6/08 09:30 a02/p02',
   '02/06/08',
   '08/02/06',
   '[$-409]02/14/05 12:00 a02/p02',
   '1200',
   '[$-409]12/ 1/07 12:00 a12/p12',
   '12:00',
   '',
   '',
   '',
   '',
   ''],
  ['5665 PONCE DE LEON BLVD',
   '',
   '08001065',
   '1',
   'FRH',
   'FRAUD BY UTTERING FORGERY',
   '07U',
   datetime.datetime(2008, 2, 6, 0, 0),
   datetime.datetime(2005, 2, 14, 0, 0),
   '1200',
   datetime.datetime(2007, 12, 1, 0, 0),
   '1200',
   '',
   '',
   '',
   '',
   '']),
 (1715,
  ['1239 THEO DICKINSON DR',
   '1206',
   '08001676',
   '1',
   'SCE',
   'SIMPLE HARASSMENT',
   '07U',
   '02/24/08',
   '02/24/08',
   '08/02/24',
   '01/ 1/05',
   '1200',
   '02/24/08',
   '12:00',
   '',
   '',
   '',
   '',
   ''],
  ['1239 THEO DICKINSON DR',
   '1206',
   '08001676',
   '1',
   'SCE',
   'SIMPLE HARASSMENT',
   '07U',
   datetime.datetime(2008, 2, 24, 0, 0),
   datetime.datetime(2005, 1, 1, 0, 0),
   '1200',
   datetime.datetime(2008, 2, 24, 0, 0),
   '1200',
   '',
   '',
   '',
   '',
   '']),
 (1784,
  ['1111 MEMORIAL DR',
   '',
   '08002133',
   '1',
   'SCE',
   'SIMPLE HARASSMENT',
   '07U',
   '03/11/08',
   '03/11/08',
   '08/03/11',
   '08/15/06',
   '0000',
   '03/11/08',
   '00:00',
   '18',
   '894105.66599999997',
   '505505.27299999999',
   '',
   ''],
  ['1111 MEMORIAL DR',
   '',
   '08002133',
   '1',
   'SCE',
   'SIMPLE HARASSMENT',
   '07U',
   datetime.datetime(2008, 3, 11, 0, 0),
   datetime.datetime(2006, 8, 15, 0, 0),
   '0000',
   datetime.datetime(2008, 3, 11, 0, 0),
   '0000',
   '18',
   '894105.66599999997',
   '505505.27299999999',
   '',
   '']),
 (2074,
  ['1311 MILLER DR',
   '',
   '08003918',
   '1',
   'THG',
   'THEFT FROM COIN OPERATED MACHINE',
   '07U',
   '05/ 2/08',
   '05/02/08',
   '08/05/02',
   '05/ 2/05',
   '2230',
   '05/02/08',
   '22:30',
   '',
   '',
   '',
   '',
   ''],
  ['1311 MILLER DR',
   '',
   '08003918',
   '1',
   'THG',
   'THEFT FROM COIN OPERATED MACHINE',
   '07U',
   datetime.datetime(2008, 5, 2, 0, 0),
   datetime.datetime(2005, 5, 2, 0, 0),
   '2230',
   datetime.datetime(2008, 5, 2, 0, 0),
   '2230',
   '',
   '',
   '',
   '',
   ''])]

2006 (11 weird) isn't that suspicious but 2001 (1 weird) and 2005 (5 weird) def are

In [31]:
from datetime import timedelta
def probable_misentry(a, b, months=2, check_same_day=True):
    reasonable_entry_lag = timedelta(weeks=months*4)
    
    if abs(a-b) > reasonable_entry_lag:
        if not check_same_day:
            return True
        return a.month == b.month and a.day == b.day
    return False

# TODO could manually correct them
data_outlier_remove = [data_date_corrected[0]] + [
    row for row in data_date_corrected[1:]
    if not probable_misentry(row[7], row[8], check_same_day=False)
]

print('removed {} points'.format(len(data_date_corrected)-len(data_outlier_remove)))

removed 54 points

In [28]:
from collections import defaultdict

In [29]:
yearly_data = defaultdict(list)
for row in data_outlier_remove[1:]:
    yearly_data[row[8].year].append(row)

In [30]:
yearly_data.keys()

dict_keys([2008, 2009, 2010, 2006, 2007])

now, let's write a separate file for each year and make sure to only take date for date columns

In [33]:
list(enumerate(data_outlier_remove[0]))

[(0, 'Address1'),
 (1, 'Apt'),
 (2, 'Case'),
 (3, 'Pri_Offens'),
 (4, 'Off_Code'),
 (5, 'Offense'),
 (6, 'tract'),
 (7, 'DATEofReport'),
 (8, 'date_occ'),
 (9, 'hour_occ'),
 (10, 'date_fnd'),
 (11, 'hour_fnd'),
 (12, 'FID'),
 (13, 'X'),
 (14, 'Y'),
 (15, 'Donxees'),
 (16, 'Donyees')]

In [34]:
for year, values in yearly_data.items():
    fn = './data/converted_crime_data/Crime_pass3_{}.csv'.format(year)
    print('writing ' + fn)
    with open(fn, 'w') as f:
        writer = csv.writer(f)
        writer.writerow(data_outlier_remove[0])
        for row in values:
            writer.writerow(
                row[:7] + [
                    row[7].strftime("%Y-%m-%d"), row[8].strftime("%Y-%m-%d"),
                    row[9], row[10].strftime("%Y-%m-%d")
                ] + row[11:]
            )

writing ./data/converted_crime_data/Crime_pass3_2008.csv
writing ./data/converted_crime_data/Crime_pass3_2009.csv
writing ./data/converted_crime_data/Crime_pass3_2010.csv
writing ./data/converted_crime_data/Crime_pass3_2006.csv
writing ./data/converted_crime_data/Crime_pass3_2007.csv